﻿body{
width:70%;
margin-left: 500px;

}


#menu li{
list-style-type:none;


}
#menu a{
text-decoration:none;


}
#menu{
float:left;
width:17%;


}
div ol li{
list-style-type:none;

}
img{
float:left;
height:70px;

}
#content a{
text-decoration:none;
}

#d{
margin-left:2%;
}
#e{
margin-left:6%;
}














